<div class="example-container">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let table"> {{table.name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>E-Mail</th>
            <td mat-cell *matCellDef="let table"> {{table.email}}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let table"> {{table.phone}}</td>
        </ng-container>

        <ng-container matColumnDef="phone2">
            <th mat-header-cell *matHeaderCellDef>Phone3</th>
            <td mat-cell *matCellDef="let table"> {{table.phone}}</td>
        </ng-container>

        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef>Company</th>
            <td mat-cell *matCellDef="let table"> {{table.company.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<mat-paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons></mat-paginator>
