<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <ul class="list-parameters">
        <li>
            <div class="name">id: </div>
            <div>{{hero.id}}</div>
        </li>
        <li>
            <div class="name">name:</div>
            <div><input class="field" [(ngModel)]="hero.name" placeholder="name"/></div>
        </li>
    </ul>

    <button class="btn" (click)="goBack()">go back</button>
    <button class="btn" (click)="save()">save</button>
</div>
