.list-parameters li {
  margin-bottom: 10px; }
  .list-parameters li > div {
    display: inline-block; }
    .list-parameters li > div.name {
      width: 60px;
      color: #5f7d8c;
      font-weight: 600;
      font-size: 13px; }

/*# sourceMappingURL=hero-detail.component.css.map */
