.list-parameters {
    li {
        margin-bottom: 10px;

        > div {
            display: inline-block;

            &.name {
                width: 60px;
                color: #5f7d8c;
                font-weight: 600;
                font-size: 13px;
            }
        }
    }

}