@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
@import "~@angular/cdk/overlay";

$gray:              #8f8f8f !default;
$gray-light:        lighten($gray, 35%) !default;
$graphite:          #5f7d8c !default;
$blue:              #149fe8 !default;
$border-color:      #d2d2d2 !default;

$font-base-color:   #222 !default;
$link-color:        $blue !default;
$link-color-active: $graphite !default;

$transition:        all .4s ease 0s!default;

body {
    overflow-x: hidden;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $font-base-color;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}

/* Let's get this party started */
::-webkit-scrollbar { width: 8px;height: 8px }

/* Track */
::-webkit-scrollbar-track { background-color: transparent; }

/* Handle */
::-webkit-scrollbar-thumb { background-color: lighten($graphite, 26%); }
::-webkit-scrollbar-thumb:window-inactive { background-color: $gray-light; }

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    padding: 10px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

h2, h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: $font-base-color;
}

li {
    list-style-type: none;
}

.nav-pages {
    margin-bottom: 20px;

    a {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        font-size: 14px;
        text-transform: uppercase;
        background-color: $gray-light;
        border-radius: 4px;
        transition: $transition;
        color: $blue;

        &:hover {
            background-color: $gray;
            color: #fff;
        }
    }
}

.field {
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 2px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: $font-base-color;
    outline: none;
}

.btn {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 10px;
    font-size: 14px;
    background-color: $gray-light;
    border-radius: 2px;
    transition: all 0.4s ease 0s;
    border: $border-color;
    cursor: pointer;

    &-add {
        height: 40px;
        margin-left: 10px;
    }
}

.field-item {
    margin-bottom: 20px;
}


//table
.example-container {
    max-width: 100%;
    overflow: auto;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
    background-color: #fff;
}

.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}

mat-cell,
mat-header-cell {
    padding: 10px;
    touch-action: auto;
    -ms-touch-action: auto;
}

table {
    width: 100%;
    vertical-align: top;
    border: 1px solid #e0e0e0;
    border-width: 1px 1px 0 1px;

    td:first-child {
        white-space: nowrap;
        font-weight: 600;
    }

    th.mat-header-cell,
    td.mat-cell,
    th.mat-cell-header {
        padding: 10px;
        border-color: #e0e0e0;
    }
}
