<div><!--(scroll)="onWindowScroll($event);"-->
    <div class="container">
        <h1>{{title}}</h1>

        <nav class="nav-pages">
            <a routerLink="/heroes">Heroes</a>
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/table">Table</a>
        </nav>

        <router-outlet></router-outlet>
        <app-messages></app-messages>
    </div>
</div>
