body {
  overflow-x: hidden;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #222;
  touch-action: manipulation;
  -ms-touch-action: manipulation; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #aabcc5; }

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #e8e8e8; }

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; }

.container {
  padding: 20px; }

h1 {
  font-size: 20px;
  margin-bottom: 20px; }

h2, h3 {
  font-size: 18px;
  margin-bottom: 15px; }

h4 {
  font-size: 16px;
  margin-bottom: 10px; }

a {
  text-decoration: none;
  color: #222; }

li {
  list-style-type: none; }

.nav-pages {
  margin-bottom: 20px; }
  .nav-pages a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #e8e8e8;
    border-radius: 4px;
    transition: all 0.4s ease 0s;
    color: #149fe8; }
    .nav-pages a:hover {
      background-color: #8f8f8f;
      color: #fff; }

.field {
  width: 200px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #222;
  outline: none; }

.btn {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 10px;
  font-size: 14px;
  background-color: #e8e8e8;
  border-radius: 2px;
  transition: all 0.4s ease 0s;
  border: #d2d2d2;
  cursor: pointer; }
  .btn-add {
    height: 40px;
    margin-left: 10px; }

.field-item {
  margin-bottom: 20px; }

/*# sourceMappingURL=app.component.css.map */
