<div *ngIf="messageService.messages.length">
  <h2>Messages</h2>

  <button class="btn" (click)="messageService.clear()">clear</button>

  <div class="messages" *ngFor='let message of messageService.messages'>{{message}}</div>
</div>