<h3>Top Heroes</h3>

<div class="grid-pad">
    <a *ngFor="let hero of heroes" class="col-1-4"
       routerLink="/detail/{{hero.id}}">
        <div class="module hero">
            <p>{{hero.name}}</p>
        </div>
    </a>
</div>

<hero-search></hero-search>
