$bg-hero: #ddd;
$bg-hero-hover: #2b81af;
$transition: all .4s ease 0s;

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;

    li {
        margin-bottom: 15px;
        max-width: 300px;
        position: relative;

        > a {
            position: relative;
            display: block;
            padding: 10px 10px 10px 35px;
            background-color: #eee;
            border-radius: 4px;
        }

        .badge,
        .delete {
            position: absolute;
            top: 0;
            display: inline-block;
        }

        .badge {
            left: 0;
            height: 100%;
            padding: 10px;
            background-color: #607D8B;
            border-radius: 5px 0 0 4px;
            color: #fff;
            font-size: 12px;
        }

        .delete {
            right: 0;
            height: 100%;
            border: 1px solid #ddd;
            padding: 0 10px;
            font-size: 20px;
        }

        &.selected:hover {
            background-color: #BBD8DC !important;
            color: white;
        }

        &:hover {
            color: #607D8B;
            background-color: #DDD;
            left: .1em;
        }
    }
}
