<h2>My Heroes</h2>

<div class="field-item">
    <label>Hero name:
        <input class="field" #heroName />
    </label>

    <button class="btn btn-add" (click)="add(heroName.value); heroName.value=''">add</button>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>

        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
</ul>
