.selected {
  background-color: #CFD8DC !important;
  color: white; }

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em; }
  .heroes li {
    margin-bottom: 15px;
    max-width: 300px;
    position: relative; }
    .heroes li > a {
      position: relative;
      display: block;
      padding: 10px 10px 10px 35px;
      background-color: #eee;
      border-radius: 4px; }
    .heroes li .badge,
    .heroes li .delete {
      position: absolute;
      top: 0;
      display: inline-block; }
    .heroes li .badge {
      left: 0;
      height: 100%;
      padding: 10px;
      background-color: #607D8B;
      border-radius: 5px 0 0 4px;
      color: #fff;
      font-size: 12px; }
    .heroes li .delete {
      right: 0;
      border: 1px solid #ddd;
      padding: 5px 10px;
      font-size: 20px; }
    .heroes li.selected:hover {
      background-color: #BBD8DC !important;
      color: white; }
    .heroes li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em; }

/*# sourceMappingURL=heroes.component.css.map */
