.search-container {
  position: relative;
  display: inline-block; }
  .search-container ul {
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: -1px; }
    .search-container ul li {
      font-size: 14px; }
      .search-container ul li:not(:last-child) {
        border-bottom: 1px solid #ddd; }
    .search-container ul a {
      display: block;
      padding: 5px; }

/*# sourceMappingURL=hero-search.component.css.map */
