.search-container {
    position: relative;
    display: inline-block;

    ul {
        position: absolute;
        top: 100%;
        background-color: #fff;
        width: 100%;
        border: 1px solid #ddd;
        margin-top: -1px;

        li {
            font-size: 14px;

            &:not(:last-child) {
                border-bottom: 1px solid #ddd;
            }
        }

        a {
            display: block;
            padding: 5px;
        }
    }
}